---
layout: page
title: Tag Index
permalink: /tags/index.html
description: "An archive of posts sorted by tag."
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<ul class="tag-box inline">
{% assign tags_list = tag_words %}
  {% for tag in tags_list %}
    {% comment %}Only print tags if there are any published articles{% endcomment %}
    {% if site.tags[tag].size %}
      <li><a href="#{{ tag }}"><span class="article-count">{{ site.tags[tag].size }}</span><span class="element-invisible"> articles tagged </span>{{ tag }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
<a id="main-content"></a>
{% for tag in tag_words %}
  <h2 id="{{ tag }}">{{ tag }}</h2>
  <ul class="post-list">
      {% assign pages_list = site.tags[tag] %}
      {% for post in pages_list %}
          {% if post.title != null %}
          {% if group == null or group == post.group %}
            {% include post-listing.html %}
          {% endif %}
          {% endif %}
      {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
  </ul>
{% endfor %}
