<h1 itemprop="name">{{ page.title }}{% if page.subtitle %}
  <span class="post-subtitle">{{ page.subtitle }}</span>
  {% endif %}
</h1>

<p>
  {% if page.eventurl %}
    <a href="{{ page.eventurl }}">{{ page.event }}</a>
  {% else %}
    {{ page.event }}
  {% endif %}
</p>

{% if page.language %}
  {% for language in site.data.languages %}
    {% if page.language == language.code %}<p>This talk was given in <span>{{ language.name }}.</span></p>{% endif %}
  {% endfor %}
{% endif %}

{% include post-meta-author.html %}
