
.notepad-author-info {
  background: $grey-lighter;
  padding: 2rem 0;

  @include breakpoint(tablet) {
    padding: 2rem 1rem;
  }

  h2 {
    margin-top: 0;
  }
}

.notepad-post-author {
  @extend %notepad-clearfix;
  padding: 0 1.875rem;

  @include breakpoint(mobileonly) {
    padding: 0 0.75rem;
  }

  .row-even & {
    text-align: right;
  }

  h1 {
    margin: 0 0 1rem;
    padding: 0;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: $font-ubuntu;
    line-height: 1;
    text-transform: uppercase;
  }

  > p {
    font-size: 1.125rem;

    a {
      color: $brand-blue;
    }
  }

  .author-info p {
    text-align: inherit;
  }

  .post-list {
    padding: 0;
  }
}

.notepad-post-author-avatar {
  .row-odd & {
    float: left;
  }

  .row-even & {
    float: right;
  }
  
  img {
    float: none;
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
  }
}

.author-info {
  @include breakpoint(mobileonly) {
    padding: 0;
  }

  @include breakpoint(tablet) {
    .row-even & {
      float: right;
    }
  }

  padding: 0;

  .author-link {
    @include black-link;
  }
}

.author-info .author-social-links {
  clear: both;
  padding-left: 0;
  margin-bottom: 1rem;
}
