.presentations-list {
  display: flex;
  flex-wrap: wrap;
  
  .columns {
    margin-bottom: 2rem;
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .post-subtitle {
    font-size: 1rem;
    display: block;
  }
  
  a {
    color: inherit;
  }
}

.presentation-preview {
  min-height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.presentation-thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.presentation-event {
  
}

.presentation-content {
  border: 1px solid $black;
}

.presentation-slides {
  
}
